.heading-section {
    display: flex;
    justify-content: center;
    font-family: "Poppins", Poppins;
    padding: 6%;
    font-size: 32px;
    font-weight: 500
}

.contact-form {
    padding: 4%;
}

.send-button {
    width: 100%;
}

.send-button-container {
    display: flex;
    justify-content: center;
}

.social-section {
    padding-top: 8%;
    display: flex;


}

.header-social {
    color: #4E4E4E;
}

.thanking-section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8%;
}

.little-falls {
    padding-left: 20%;
}

.saint-cloud {
    padding-left: 20%;
}

.social-section {
    padding: 10%;
    align-items: center;
}

.address-section {
    padding-top: 10%;
}

.contact-form-section {
    display: flex;
    justify-content: center;
}