.footer-wrapper {
    width: 100%;
    bottom: 0;
}

.footer-top-container {
    background-color: #F8F8F8;
    padding: 20px 45px;
}

.footer-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-top-row .col {
    padding: 0 !important;
}

.footer-app-logo {
    transform: scale(1.1);
}

.social-media-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.icon-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-col a {
    color: #6B6B6B;
    font-size: 22px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.icon-col a:hover {
    color: #000;
}

/* footer content styles */
.footer-wrapper p {
    font-size: 12px;
}

.footer-wrapper small {
    font-size: 10px;
}

.footer-wrapper .footer-nav-link {
    font-size: 12px !important;
    text-decoration: none;
    color: inherit;
}

.footer-wrapper ul {
    list-style: none;
    gap: 10px;
    padding: 0px;
}

.footer-wrapper ul li {
    padding-bottom: 14px;
}

.footer-content-row {
    padding: 20px 0px;
}

.location-address {
    width: 56% !important;
}

.footer-bottom-row p {
    margin: 0;
}

.footer-bottom-row {
    display: flex;
    align-items: center;
}

.footer-bottom-dark-container {
    color: #F8F8F8;
    background-color: #444;
    height: 67px;
}

.footer-bottom-dark {
    display: flex;
    gap: 22px;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-bottom-dark a {
    text-decoration: none;
    color: #F8F8F8;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
}

.footer-bottom-light-container {
    display: flex;
    flex-direction: row;
    height: 54px;
    justify-content: space-between;
    padding: 17px 0;
}

.footer-bottom-text {
    color: #3f3f3f;
    font-size: 12px;
    font-weight: 300;
}

.footer-content-row .fa-search-location {
    font-size: 22px !important;
}

.footer-content-col-1 .col-lg-2 {
    width: 9%;
}

@media (max-width: 769px) {
    .footer-bottom-dark {
        gap: 0px;
        flex-wrap: wrap;
        font-size: 14px;
        flex-direction: row;
        width: 85%;
        justify-content: flex-start !important;
    }

    .footer-bottom-dark a {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0px 10px;
    }

    .footer-bottom-dark-container {
        height: 100%;
        padding: 5px;
    }

    .footer-bottom-light-container {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .footer-bottom-light-container p:first-child {
        margin: 0;
    }

    .footer-bottom-row {
        text-align: center;
    }

    .footer-podcast-txt {
        text-align: center;
        justify-content: center;
        margin-top: 20px;
    }

    .footer-top-row .col-lg-9 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media (min-width: 1023px) and (max-width: 1300px) {
    .social-media-row .icon-col a {
        font-size: 18px !important;
    }

    .footer-bottom-row .social-media-row {
        flex-wrap: nowrap;
    }

    .footer-content-col-1 .col-lg-2 {
        width: 16%;
    }

    .search-input {
        width: 169px;
        font-size: 12px;
    }

    .footer-content-row .row .btn.btn-outline-dark {
        width: 24% !important;
        font-size: 12px;
    }
}