@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-share.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-fullscreen.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/hash.css');

.gallery-img-container {
    position: relative;
    width: 221px;
    height: 147px;
    overflow: hidden;
}

.gallery-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
    /* Smooth zoom transition */
}

.gallery-img-container:hover img {
    transform: scale(1.1);
    /* Zoom effect */
}

.gallery-img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Black tinted overlay */
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Smooth overlay transition */
}

.gallery-img-container:hover::after {
    opacity: 1;
    /* Show overlay on hover */
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 221px);
    gap: 10px;
    justify-content: center;
}

.lg-react-element {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.lg-outer.lg-components-open:not(.lg-zoomed) .lg-sub-html {
    opacity: 0 !important;
}