.product-grid-container .card, .product-grid-container .card-img-top {
  border-radius: 0!important;
  border: none;
}

.product-grid-container .product-price{
  border-radius: 27px;
  border: 3px solid #3b3b3b;
  padding: 12px 24px;
  max-width: 120px;
}

.product-grid-container .card-title{
  font-size: 14px!important;
  font-weight: 400!important;
}

.product-middle-card{
  margin-top: 60px;
}

.product-grid-container{
  padding: 0px 57px;
}
