.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  flex: 1;
  text-align: center;
  position: relative;
}

.step span {
  display: block;
  padding: 10px 0;
}

.step .divider {
  height: 15px;
  background-color: lightgray;
  margin-right: 10px;
  position: absolute;
  width: 98%;
}

.step.active span {
  font-weight: bold;
}

.step.active .divider {
  background-color: black;
}