.top-pattern-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
    display: flex;
    --divider-border-style: zigzag;
    --divider-color: #e8d3ca;
    --divider-border-width: 1px;
    --divider-pattern-height: 20px;
    --divider-pattern-size: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' overflow='visible' height='100%' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpolyline points='0,18 12,6 24,18 '/%3E%3C/svg%3E");
}

.pattern-divider-separator {
    background-color: #e8d3ca;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' overflow='visible' height='100%' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpolyline points='0,18 12,6 24,18 '/%3E%3C/svg%3E");
    mask-size: 20px 100%;
    min-height: 20px;
    mask-repeat: repeat-x;
    border-block-start: 1px zigzag #e8d3ca;
}