.product_gallery{
    display: grid; 
    grid-template-columns: 15% 85%; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."; 
    justify-content: start; 
    align-content: start; 
    justify-items: center; 
    align-items: flex-start; 
}

.product_thumbnails{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: minmax(150px, 150px); 
    gap: 5px 5px; 
    padding-right: 10px;
    max-height: 800px !important;
    overflow-y: auto;
}

.product_thumbnail{
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    width: 155px !important; 
    height: 150px !important;
    object-fit: cover !important;
}

@media only screen and (max-width: 600px) {
    .product_thumbnails{
        max-height: 400px !important;
        grid-template-rows: minmax(50px, 50px); 
    }
    .product_thumbnail{
        height: 25px !important;
    }
} 

.product_preview_image{
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    width: 100% !important; 
    height: 100% !important;
    max-width: 800px !important;
    max-height: 800px !important;
    object-fit: contain !important;
}

.product_variations{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(auto-fit, 75px);
    grid-template-columns: repeat(6, 75px);
    gap: 5px 5px;
    padding-right: 10px;
    width: 400px !important;			
}

.product_variation{
    border: 2px solid #fff;
    border-radius: 5px !important;
    object-fit: cover !important;
    width: 75px !important;
    height: 75px !important;
}

.product_variation:hover{
    border: 2px solid #474747;
}

.product_points{
    margin-left: 10px; 
    margin-top: 10px; 
    border-left: 2px solid #AA8472; 
    padding-left: 10px; 
    font-size: 14px;
}

.skeleton {
    border: 10px !important;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-text {
    width: 100%;
    height: 0.7rem;
    color: transparent;
}

.skeleton-text__body {
    width: 75%;
}

.skeleton-footer {
    width: 30%;
}

.price {
    color: #3b3b3b;
    font-family: "Poppins", Poppins;
    font-size: 32px;
    font-weight: 600;
}

.product_points {
    margin-left: 10px;
    margin-top: 10px;
    border-left: 2px solid #AA8472;
    padding-left: 10px;
    font-size: 14px;
    background-color: #f2f2f2
}

.elementor-element.elementor-element-d8f6033 {
    font-family: "Poppins", Poppins;
    font-size: 14px;
    font-weight: 500;
    color: #c49b87;
}

.button.single_add_to_cart_button.button.alt {
    margin-top: 20px !important;
    background-color: #3b3b3b !important;
    color: #fff;
    margin-left: 0 !important;
    width: 520px;
    height: 50px !important;
    border-radius: 0;
}

.registry-button {
    color: #000 !important;
    background-color: #e2e2e2 !important;
    border: none;
    width: 45%;
}

.wapf-field-radio {
    width: max-content !important;
    display: grid;
    grid-auto-flow: column;
}

.wapf-field-container:last-child {
    padding-right: 0;
}

.share-suggest-pin {
    display: flex;
    flex-direction: row;
    
}

.share-btn-text {
    padding:5%;
    font-weight: 700;
    font-size: small;
}

.fullfillment-section {
    display: flex;
    flex-direction: row;
}

.fullfillment-template {
    padding:2%;
}

.pairswell-img-container {
    display: flex;
    flex-direction: row;
}
