@import './theme.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
}

.page-wrapper {
    padding: 30px 0px;
}

h5 {
    font-size: 16px !important;
    font-weight: 600 !important;
}

h4 {
    font-size: 18px !important;
}

.h-divider {
    border: 1px solid #A5A5A5;
    margin: 15px 0px;
    width: 100%;
    display: flex;
}

.space-div {
    height: 70px;
}

p.section-description {
    padding: 20px 0;
}

.fw-semibold {
    font-weight: 500 !important;
}

ul {
    list-style: none !important;
    padding: 0 !important;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.w-85 {
    width: 85% !important;
}

.accordion-button::after {
    content: "+" !important;
    background-image: none !important;
    height: auto !important;
    font-size: 25px !important;
}

.accordion-button:not(.collapsed)::after {
    content: "-" !important;
    background-image: none !important;
    transform: none !important;
}

@media (max-width: 769px) {
    h2 {
        font-size: 20px !important;
    }

    p.section-description {
        font-size: 12px !important;
    }

    .space-div {
        display: none;
    }
}