
.heading {
  color: #3d3d3d;
  font-family: "Poppins", Poppins;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
}

.title {
  padding-top: 80px;
}

.title-divider {
  height: auto;
  border: 1px solid #afafaf;
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.paragraph-content {
  color: #995959;
}

.ajourny-img {
  padding-top: 60px;
  padding-left: 60px;
}

.ajourny-img:hover {
  position: relative;
  animation-name: elementor-animation-hang-sink, elementor-animation-hang;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
  transition-duration: 0.6s;
}

.acommunity-img:hover {
  position: relative;
  animation-name: elementor-animation-hang-sink, elementor-animation-hang;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
  transition-duration: 0.6s;
}

.rolling-img:hover {
  position: relative;
  animation-name: elementor-animation-hang-sink, elementor-animation-hang;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
  transition-duration: 0.6s;
}

@keyframes elementor-animation-hang {
  0% {
    transform: translateY(8px);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(8px);
  }
}

@keyframes elementor-animation-hang-sink {
  100% {
    transform: translateY(8px);
  }
}

.ajourney-paragraph {
  padding-top: 60px;
  padding-right: 150px;
}

.acommunity-paragraph {
  padding-top: 200px;
  padding-left: 60px;
}

.acommunity-img {
  padding-top: 100px;
  padding-right: 20px;
}

.rolling-img {
  padding-top: 60px;
  padding-left: 20px;
}

.rolling-paragraph {
  padding-top: 120px;
  padding-right: 20px;
}

.rolling-section {
  padding-bottom: 200px;
}

.e-con-inner {
  padding-top: 80px;
  font-weight: bold;
}
