.accordian-headline {
    color: #3b3b3b;
    font-family: "Poppins", Poppins;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    line-height: 24px;
    padding-top: 40px;
    padding-left: 20px;
}


.what-ifiused {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    
}
