.accordian-headline {
    color: #3b3b3b;
    font-family: "Poppins", Poppins;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    line-height: 2%;
    padding-top: 4%;
    padding-left: 2%;
}


.what-ifiused {
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    
}
